.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;

	box-sizing: border-box;
	width: 30%;

	border-right: 2px solid #ABABAB;
}

.container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;

	box-sizing: border-box;
	width: 70%;
	padding-top: 1.5rem;

	background-color: #FFFFFF;
}
