#form {
	position: fixed;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;

	overflow-y: auto;

	box-sizing: border-box;
}

#preview {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;

	box-sizing: border-box;
}

#preview > .preview {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 32px;
	left: 0;

	overflow-y: auto;

	box-sizing: border-box;
}

#preview > .switchers {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	height: 32px;
}

#preview > .switchers > .btn {
	box-sizing: border-box;
	width: 50%;
	height: 32px;
}
