.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  position: relative;

  width: 10em;
  height: 10em;
  margin: 55px auto;

  transform: translateZ(0);
  text-indent: -99999em;

  color: #ff9d00;
  box-shadow: inset 0 0 0 1em;

  font-size: 11px;
}
.loader:before,
.loader:after {
  position: absolute;

  content: '';
}
.loader:before {
  top: -0.1em;
  left: -0.1em;

  width: 5.2em;
  height: 10.2em;

  transform-origin: 5.2em 5.1em;
  animation: load2 2s infinite ease 1.5s;

  border-radius: 10.2em 0 0 10.2em;
  background: #ffffff;
}
.loader:after {
  top: -0.1em;
  left: 5.1em;

  width: 5.2em;
  height: 10.2em;

  transform-origin: 0px 5.1em;
  animation: load2 2s infinite ease;

  border-radius: 0 10.2em 10.2em 0;
  background: #ffffff;
}
@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
