.brand-header {
  box-sizing: border-box;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  padding: .5rem 1.5rem;

  background-color: black;

  .logo {
    height: 40px;
  }

  .right {
    float: right;

    a {
      display: inline-block;

      width: 32px;
      height: 32px;
      padding: .25rem .5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.brand-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  margin-top: .5rem;
  padding: .25rem 1.5rem;

  background-color: black;

  .language {
    color: white;
    border: none;
    background-color: black;
  }

  .top-row {
    position: relative;

    width: 100%;
    height: 1rem;

    .product-of {
      position: absolute;
      top: 0;
      right: 0;

      color: white;

      font-size: .75rem;
    }
  }

  .bottom-row {
    position: relative;

    width: 100%;
    height: 2rem;

    .apinf-logo {
      position: absolute;
      right: 0;
      bottom: 0;

      width: auto;
      height: 2rem;
    }
  }
}
