.nav {
  padding: .5rem 1rem;

  border-bottom: 1px solid lightgray;

  > .nav-link {
    display: inline;

    box-sizing: border-box;
    padding: .5rem 1rem;

    text-decoration: none !important;

    color: #337ab7 !important;
    border-radius: .25rem .25rem 0 0;

    &:hover {
      background-color: lighten(lightgray, 7%);
    }

    &.open {
      color: black !important;
      border: 1px solid lightgray;
      border-bottom: 1px solid white;

      &:focus {
        outline: 1px dotted lightgray;
      }
    }
  }

  > .actions {
    float: right;

    margin-right: 1rem;

    > a {
      display: inline-block;

      width: 16px;
      height: 16px;
      padding: .25rem;

      > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
