.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  padding: .5rem 1rem;

  border-bottom: 1px solid lightgray;
  background-color: white;

  > .nav-link {
    display: inline;

    box-sizing: border-box;
    padding: .5rem 1rem;

    text-decoration: none !important;

    color: #337ab7 !important;
    border-radius: .25rem .25rem 0 0;

    &:hover {
      background-color: lighten(lightgray, 7%);
    }

    &.open {
      color: black !important;
      border: 1px solid lightgray;
      border-bottom: 1px solid white;

      &:focus {
        outline: 1px dotted lightgray;
      }
    }
  }

  > .actions {
    float: right;

    max-height: 2.5rem;
    margin-right: 1rem;

    // Place the action buttons just above the bottom border of the navigation bar.
    // margin-bottom and other such values don't work due to float: right.
    transform: translateY(calc(-.5rem - 1px));

    > div {
      display: inline-block;

      width: 2rem;
      height: 2rem;
      padding: .25rem;
    }

    > .download.dropdown > .content {
      transform: translateX(calc(2rem - 100%));
    }
  }
}
