$main-color: #FFC107;
$dark-color: darken($main-color, 5%);
$border-color: #DBDBDB;
$background-color: #f7f7f7;

.loader:before, .loader:after {
  background: $background-color !important;
}

@import "../node_modules/pnotify/dist/pnotify.css";
@import "../node_modules/pnotify/dist/pnotify.brighttheme.css";
@import "../node_modules/pnotify/dist/pnotify.nonblock.css";
@import "animate";
@import "dropdown";
@import "tooltip";
@import "html";
@import "brand";
@import "nav";
@import "main";
@import "form";
@import "modal";
