@import "tooltip";

$main-color: #FFC107;
$dark-color: darken($main-color, 5%);
$border-color: #DBDBDB;

html {
  position: relative;

  min-height: 100%;

  font-size: 16px;
}

h1, h2, h3 {
  font-weight: 400;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

body {
  margin: 0;
}

.preview {
  white-space: pre;

  font-family: monospace !important;
}

.main {
  display: flex;

  margin-bottom: 3.5rem;

  flex-flow: wrap;
}

.form {
  width: 70%;

  flex: 1;
  @media screen and (min-width: 40rem) {
    width: 80%;
  }
}

.brand-header {
  box-sizing: border-box;
  height: 3.5rem;
  margin-bottom: .5rem;
  padding: .75rem;

  background-color: black;

  .logo {
    max-height: 32px;
  }

  .right {
    float: right;

    a {
      display: inline-block;

      padding: 0 .5rem;

      img {
        max-height: 32px;
      }
    }
  }
}

.brand-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  margin-top: .5rem;
  padding: .25rem;

  background-color: black;
}

.nav {
  padding: .5rem 1rem;

  border-bottom: 1px solid lightgray;

  > .nav-link {
    display: inline;

    box-sizing: border-box;
    padding: .5rem 1rem;

    text-decoration: none !important;

    color: #337ab7 !important;
    border-radius: .25rem .25rem 0 0;

    &:hover {
      background-color: lighten(lightgray, 7%);
    }

    &.open {
      color: black !important;
      border: 1px solid lightgray;
      border-bottom: 1px solid white;

      &:focus {
        outline: 1px dotted lightgray;
      }
    }
  }

  > .actions {
    float: right;

    margin-right: 1rem;

    > a {
      display: inline-block;

      padding: .25rem;

      > img {
        max-height: 16px;
      }
    }
  }
}

.field {
  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  padding: .25rem;

  &.columns {
    &.c1 { width: 12.5% }
    &.c2 { width: 25.0% }
    &.c3 { width: 37.5% }
    &.c4 { width: 50.0% }
    &.c5 { width: 62.5% }
    &.c6 { width: 75.0% }
    &.c7 { width: 87.5% }
    &.c8 { width:  100% }
  }

  label {
    display: block;

    width: 100%;

    font-size: .875rem;
    font-weight: bold;

    > tooltip {
      height: 0.8rem;
    }
  }

  label, .title {
    &:empty {
      display: none;
    }
  }

  .title {
    margin: 0;
    margin-bottom: .5rem;
    margin-left: .25rem;

    &:last-child {
      margin-bottom: 0;
    }



    > tooltip {
      width: auto;
      height: 1.2rem;
    }
  }

  &.dropdown.option {
    &::after {
      float: right;

      width: 0;
      height: 0;

      content: "";
      transform: translateY(-200%) translateX(-50%);
      pointer-events: none;

      border-top: 0.5rem solid #777777;
      border-right: 0.5rem solid transparent;
      border-left: 0.5rem solid transparent;
    }

    > select {
      width: 100%;
      padding: .25rem 0;

      border: none;
      border-bottom: .0625rem solid $border-color;
      background: none;

      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      &:hover {
        border-bottom: .0625rem solid $main-color;
      }
    }
  }

  &.checkbox.option > .box-wrapper {
    display: inline-block;

    margin-right: .5rem;

    > label {
      display: inline;

      font-weight: normal;
    }
  }

  &.text input, &.textarea textarea {
    display: block;

    width: 100%;
    margin-bottom: .0625rem;
    padding: .25rem 0;

    resize: vertical;

    border: none;
    border-bottom: .0625rem solid $border-color;

    &:hover {
      border-bottom: .0625rem solid $main-color;
    }

    &:focus {
      margin-bottom: 0;

      border-bottom: .125rem solid $main-color;
    }
  }

  &.object, &.array, &.type {
    margin: .25rem;
    padding: .25rem;

    border: .0625rem solid #D6D6D6;
    border-radius: .25rem;

    &:not(:last-of-type) {
      margin-bottom: .75rem;
    }

    > .items > .item.columns, &.columns {
      &.c1 { width: calc(12.5% - .5rem) }
      &.c2 { width: calc(25.0% - .5rem) }
      &.c3 { width: calc(37.5% - .5rem) }
      &.c4 { width: calc(50.0% - .5rem) }
      &.c5 { width: calc(62.5% - .5rem) }
      &.c6 { width: calc(75.0% - .5rem) }
      &.c7 { width: calc(87.5% - .5rem) }
      &.c8 { width: calc( 100% - .5rem) }
    }

    > legend {
      .field {
          > label {
            display: none;
          }
          > select, > input {
            border: .0625rem solid $border-color !important;
            border-radius: .25rem;
          }
      }
    }
  }

  &.type {
    .object.field, .array.field, .type.field {
      margin: 0;
      padding: 0;

      border: none;
    }

    > legend {
      select + input {
        margin-left: .5rem;
        padding: .2rem;

        border: .0625rem solid $border-color;
        border-radius: .25rem;

        &:hover {
          border-bottom: .0625rem solid $main-color;
        }

        &:focus {
          margin-bottom: 0;

          border-bottom: .125rem solid $main-color;
        }
      }
    }
  }

  &.array {
    > .controls {
      margin-bottom: .5rem;

      > .new-item {
        padding: .375rem 1rem;

        text-transform: uppercase;

        border: none;
        background-color: $main-color;

        &:hover {
          background-color: $dark-color;
        }
      }
    }

    > .items {
      > .item {
        display: inline-block;

        > .controls {
          float: left;

          width: 2.5rem;

          transform: translateY(-1rem);

          > .delete-button, > .collapse-button {
            display: inline-block;

            cursor: pointer;
            transform: translateY(50%);

            border: none;
            background: none;

            > img {
              opacity: .2;
            }
          }

          > .delete-button > img {
            width: 1rem;
            height: 1rem;
            padding: .25rem;
          }

          > .collapse-button > img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        > .actualItem {
          display: inline-block;
          float: right;

          width: calc(100% - 2.5rem);

          > .field {
            width: 100%;
          }
        }
      }
    }
  }
}
