.mdl-layout__content {
  padding: 0 8px;
}

.mdl-textfield__external_label {
  font-weight: bold;
}

textfield {
  width: 100%;

  label, input {
    display: block;

    width: 100%;
  }
}

objectfield {
  width: 100%;
  width: 100%;
  max-width: 600px;
  margin: 1rem auto 0;
}

section {
  height: 100%;
}
